{% extends "_base.html.jinja2" %}

{% block head %}
<script src="https://cdn.jsdelivr.net/npm/shaka-player@3.0.10/dist/shaka-player.ui.js" integrity="sha256-E/jlam3oFrF3LEA5EBFv6RG51rgyZyjp0Y2bcJTlenw=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/mux.js@5.11.0/dist/mux.min.js" integrity="sha256-XedkISkXnJ/9b0yfRzAEl6Wb2AVWFv7QFEWQkN/sJ+Q=" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/shaka-player@3.0.10/dist/controls.css" integrity="sha256-/vbsajwPrOTFdnUt9kRAMs07siOwKWJHinaJyjJ9xUo=" crossorigin="anonymous">
{% endblock head %}

{% block title %}
{{ info.user.broadcastSettings.title }} by {{ info.user.displayName }}
{% endblock title %}

{% block header %}
<h1>{{ info.user.broadcastSettings.title }}</h1>
<p>
    <a href="/{{info.user.login}}/profile">@{{ info.user.displayName }}</a>
</p>
{% endblock header %}

{% block main %}

<section id="stream" class="container">
    <section id="player" data-shaka-player-container>
        <video
        autoplay
        data-shaka-player
        id="video"
        poster="{{ info.user.stream.previewImageURL }}"
        width="100%"
        height="auto">
            <source src="/api/proxy/{{ manifest | urlencode }}" type="application/vnd.apple.mpegurl"/>
        </video>
    </section>
    <section id="chat">
        <iframe src="https://www.twitch.tv/embed/{{ info.user.login }}/chat?parent={{ request.host.split(':')[0] }}" height="100%" width="auto">
        </iframe>
    </section>
</section>

{% if config.DEBUG %}
<br>

<details>
    <summary>Template Data</summary>
    <code>
    <pre>
        {{ {"info": info, "manifest": manifest} | pprint }}
    </pre>
</code>
</details>
{% endif %}

{% endblock main %}