{% extends "layout.html.jinja2" %}
{% import 'macros.html.jinja2' as macros %}
{% block title %}{{ info.title }}{% endblock title %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
{% endblock head %}

{% block body %}
<main>
    <video 
            id="video"
            width="100%"
            height="auto"
            poster="{{info.thumbnail}}"
            playsinline
            controls>
    </video>
    <h1>{{info.title}}</h1>
    <h2>@{{info.uploader}}</h2>
    {{ macros.mirror(info.webpage_url) }}
    {# Find a way to add chat. #}
</main>


<script>
    const video = document.getElementById('video')
    const videoSrc = "/api/proxy/{{info.manifest_url | urlencode}}"
    //
    // First check for native browser HLS support
    //
    if (video.canPlayType('application/vnd.apple.mpegurl')) {
        video.src = videoSrc
        video.addEventListener('canplay', () => video.play())
        //
        // If no native HLS support, check if hls.js is supported
        //
    } else if (Hls.isSupported()) {
        let hls = new Hls()
        hls.loadSource(videoSrc)
        hls.attachMedia(video)
        hls.on(Hls.Events.MANIFEST_PARSED, () => video.play())
    }
</script>
{% endblock body %}
